<div id ="index_body">
<%=link_to "View All Posts", posts_path%>
<%= link_to 'Log Out', logout_path, method: :delete%>
<%= link_to "Make New Post", new_post_path%>


<div id="user_ind">
<% @users.order(created_at: :desc).each do |u| %>
	<%= image_tag u.avatar.url(:thumb) %>
	<p><strong>Username:</strong> <a href="/users/<%= u.id %>" id="nodec"><%= u.username %> </a></p>
	<p><strong>Email:</strong>  <%= u.email %></p>
	<hr>
	<% end %>
</div>


</div>