 <%= form_for @user,:url => users_path,
:html => { :multipart => true } do |f| %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password %>
<%= f.label :password_confirmation %>
<%=f.text_field :password_confirmation %>
<%= f.file_field :avatar %>
<%= f.submit :create %>
<% end %>

<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message%></li> <br />
    <% end %>
  </ul>
<% end %>


