<%=link_to "View All Users", users_path%>
<%= link_to 'Log Out', logout_path, method: :delete%>
<%= link_to "Make New Post", new_post_path%>

<h1> Show Posts Page</h1>

<strong>Post: </strong>
<%= @post.body %> <br>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %> <br>
<strong>Created At: </strong>
<%= @post.created_at.strftime("at %I:%M%p on %m/%d/%Y") %> <br>
<br>

<strong>Leave A Comment: </strong>
<%= form_tag post_comments_path(@post.id), method: :post do %>
	<%= text_area :comment, :body, size: "60%x5%" %>
	<%= hidden_field_tag(:post_id, @post.id) %>
	<%= button_tag :create %>
<% end %>

<% @post.comments.order(created_at: :desc).each do |c|%> <br> 
	<p><%= c.body %></p>
	<p><strong>from: <%= c.user.username %></strong></p>
	<p><%= c.created_at.strftime("at %I:%M%p on %m/%d/%Y") %></p>
	<%= link_to "Delete", comment_path(c), method: :delete, remote:true, data: {confirm: "Are you sure you want to delete this comment?"} %>
	<hr>
<% end %>







